# Виртуальное окружение
venv/
ENV/
env/

# Кэш компиляции Python (создается при запусках unittest)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы измерения покрытия кода
.coverage
.coverage.*
htmlcov/

# Локальные системные файлы операционных систем
.DS_Store
Thumbs.db

# Логи приложения
logs/
